.newproject_container{
  margin: 0  auto;
  padding: 3em;
  border: 2px solid black;
  border-radius: 2rem;
  box-shadow: 5px 10px #888888;
}

.newproject_container h1{
  margin-bottom: 0.5em;
}

.newproject_container p{
  color: #7b7b7b;
  margin-bottom: 1rem;
}